In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import math
import seaborn as sns
import sklearn
from sklearn import linear_model
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
%matplotlib inline
sns.set_style('white')
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings(
    action="ignore",
    module="scipy",
    message="^internal gelsd"
)

In [2]:
#Taking the NJ Crime FBI data
NJ2013 = pd.read_csv("NJ2013.csv")

In [3]:
NJ2013.head()

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NEW JERSEY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Offenses Known to Law Enforcement,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"by City, 2013",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,City,Population,Violent\ncrime,Murder and\nnonnegligent\nmanslaughter,Rape\n(revised\ndefinition)1,Rape\n(legacy\ndefinition)2,Robbery,Aggravated\nassault,Property\ncrime,Burglary,Larceny-\ntheft,Motor\nvehicle\ntheft,Arson,NaN
4,Aberdeen Township,"18,150",19,0,NaN,0,13,6,237,42,185,10,0,NaN

In [4]:
#Looks like the is no proper defined headder so drop first 4 rows
NJ2013.drop(NJ2013.index[:4], inplace=True)

In [5]:
NJ2013.head()

,Table 8,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
4,Aberdeen Township,"18,150",19,0,NaN,0,13,6,237,42,185,10,0,NaN
5,Absecon,"8,380",21,0,NaN,2,4,15,266,91,169,6,0,NaN
6,Allendale,"6,712",0,0,NaN,0,0,0,37,6,29,2,0,NaN
7,Allenhurst,493,0,0,NaN,0,0,0,39,20,18,1,0,NaN
8,Allentown,"1,812",3,0,NaN,0,0,3,18,12,6,0,0,NaN

In [6]:
#Give meaningful names for columns
NJ2013.columns = ['City','Population','Vcrime','Murder','Raperev','Rape','Robbery','Assault','Pcrime',
                 'Burglary','Larceny','Theft','Arson','Temp']

In [7]:
NJ2013.head()

,City,Population,Vcrime,Murder,Raperev,Rape,Robbery,Assault,Pcrime,Burglary,Larceny,Theft,Arson,Temp
4,Aberdeen Township,"18,150",19,0,NaN,0,13,6,237,42,185,10,0,NaN
5,Absecon,"8,380",21,0,NaN,2,4,15,266,91,169,6,0,NaN
6,Allendale,"6,712",0,0,NaN,0,0,0,37,6,29,2,0,NaN
7,Allenhurst,493,0,0,NaN,0,0,0,39,20,18,1,0,NaN
8,Allentown,"1,812",3,0,NaN,0,0,3,18,12,6,0,0,NaN

In [8]:
#Look for the datatypes
NJ2013.dtypes

City           object
Population     object
Vcrime         object
Murder         object
Raperev        object
Rape           object
Robbery        object
Assault        object
Pcrime         object
Burglary       object
Larceny        object
Theft          object
Arson          object
Temp          float64
dtype: object

In [9]:
#Before changing the datatype to float change the format for numbers by removing commas
NJ2013.iloc[:,1:13] = NJ2013.iloc[:,1:13].replace(
    to_replace=[','],
    value='',
    regex=True
)

In [10]:
NJ2013

,City,Population,Vcrime,Murder,Raperev,Rape,Robbery,Assault,Pcrime,Burglary,Larceny,Theft,Arson,Temp
4,Aberdeen Township,18150,19,0,NaN,0,13,6,237,42,185,10,0,NaN
5,Absecon,8380,21,0,NaN,2,4,15,266,91,169,6,0,NaN
6,Allendale,6712,0,0,NaN,0,0,0,37,6,29,2,0,NaN
7,Allenhurst,493,0,0,NaN,0,0,0,39,20,18,1,0,NaN
8,Allentown,1812,3,0,NaN,0,0,3,18,12,6,0,0,NaN
9,Alpha,2314,1,0,NaN,0,0,1,31,15,15,1,1,NaN
10,Alpine,1958,0,0,NaN,0,0,0,10,6,2,2,0,NaN
11,Andover Township,6273,1,0,NaN,0,0,1,33,10,23,0,0,NaN
12,Asbury Park,15779,264,6,NaN,9,126,123,842,196,616,30,3,NaN
13,Atlantic City,39482,685,3,NaN,9,367,306,2475,393,2011,71,2,NaN
14,Atlantic Highlands,4352,0,0,NaN,0,0,0,77,18,58,1,0,NaN
15,Audubon,8788,10,0,NaN,0,9,1,395,34,359,2,0,NaN
16,Audubon Park,1020,0,0,NaN,0,0,0,31,5,25,1,0,NaN
17,Avalon,1309,2,0,NaN,0,0,2,227,30,197,0,0,NaN
18,Avon-by-the-Sea,1916,1,0,NaN,0,0,1,70,37,33,0,0,NaN
19,Barnegat Light,578,2,0,NaN,1,0,1,6,3,3,0,0,NaN
20,Barnegat Township,21544,17,0,NaN,2,4,11,201,61,135,5,1,NaN
21,Barrington,6880,3,0,NaN,2,0,1,72,26,36,10,0,NaN
22,Bay Head,987,0,0,NaN,0,0,0,36,5,28,3,0,NaN
23,Bayonne,64950,138,0,NaN,0,50,88,828,142,599,87,1,NaN
24,Beach Haven,1178,0,0,NaN,0,0,0,117,12,103,2,0,NaN
25,Beachwood,11110,7,1,NaN,0,1,5,188,21,164,3,0,NaN
26,Bedminster Township,8213,1,0,NaN,0,0,1,46,9,33,4,0,NaN
27,Belleville,36229,112,0,NaN,1,62,49,839,152,523,164,3,NaN
28,Bellmawr,11554,16,0,NaN,0,9,7,244,57,174,13,0,NaN
29,Belmar,5735,8,0,NaN,3,1,4,249,51,195,3,0,NaN
30,Belvidere,2619,2,0,NaN,0,0,2,30,10,19,1,1,NaN
31,Bergenfield,27125,16,0,NaN,0,6,10,105,16,87,2,0,NaN
32,Berkeley Heights Township,13452,1,0,NaN,0,0,1,89,9,77,3,0,NaN
33,Berlin,7623,14,1,NaN,0,1,12,151,24,123,4,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,West Caldwell Township,10878,6,0,NaN,0,3,3,99,9,78,12,0,NaN
456,West Cape May,1022,1,0,NaN,0,0,1,27,8,18,1,0,NaN
457,West Deptford Township,21497,7,0,NaN,1,4,2,437,93,318,26,0,NaN
458,Westfield,30770,12,0,NaN,4,5,3,248,58,181,9,0,NaN
459,West Long Branch,8660,8,0,NaN,0,4,4,193,59,127,7,0,NaN
460,West Milford Township,26095,24,0,NaN,4,3,17,277,98,174,5,1,NaN
461,West New York,52102,161,2,NaN,12,58,89,518,135,344,39,0,NaN
462,West Orange,46794,79,1,NaN,1,44,33,685,152,481,52,1,NaN
463,Westville,4247,11,0,NaN,0,5,6,187,60,112,15,0,NaN
464,West Wildwood,589,3,0,NaN,0,1,2,23,6,17,0,0,NaN
465,West Windsor Township,28557,17,0,NaN,1,9,7,441,37,390,14,1,NaN
466,Westwood,11056,2,0,NaN,0,0,2,57,12,44,1,0,NaN
467,Wharton,6593,6,0,NaN,0,2,4,89,6,83,0,0,NaN
468,Wildwood,5228,90,0,NaN,3,30,57,671,147,515,9,0,NaN
469,Wildwood Crest,3222,6,0,NaN,0,1,5,168,46,122,0,0,NaN
470,Willingboro Township,31914,119,1,NaN,13,50,55,688,189,475,24,9,NaN
471,Winfield Township,1489,0,0,NaN,0,0,0,11,5,5,1,0,NaN
472,Winslow Township,39212,93,0,NaN,3,21,69,599,201,376,22,2,NaN
473,Woodbridge Township,100568,135,1,NaN,3,66,65,2042,296,1622,124,7,NaN
474,Woodbury,10073,45,1,NaN,2,20,22,507,109,385,13,0,NaN
475,Woodbury Heights,3026,3,0,NaN,0,3,0,92,20,69,3,0,NaN
476,Woodcliff Lake,5864,2,0,NaN,1,1,0,51,8,38,5,0,NaN
477,Woodland Park,12636,3,0,NaN,0,0,3,158,27,124,7,0,NaN
478,Woodlynne,2967,15,0,NaN,0,8,7,66,8,49,9,0,NaN
479,Wood-Ridge,8632,1,0,NaN,0,0,1,54,10,42,2,0,NaN
480,Woodstown,3519,7,0,NaN,1,2,4,43,9,32,2,1,NaN
481,Woolwich Township,11167,1,0,NaN,0,0,1,53,17,36,0,0,NaN
482,Wyckoff Township,16949,0,0,NaN,0,0,0,79,10,68,1,0,NaN
483,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
484,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Now change datattypes to float
NJ2013.iloc[:,1:13] = NJ2013.iloc[:,1:13].apply(lambda x:x.astype(float))

In [12]:
#All good?
NJ2013.dtypes

City           object
Population    float64
Vcrime        float64
Murder        float64
Raperev       float64
Rape          float64
Robbery       float64
Assault       float64
Pcrime        float64
Burglary      float64
Larceny       float64
Theft         float64
Arson         float64
Temp          float64
dtype: object

In [13]:
#Last two rows need to go
NJ2013.drop(NJ2013.tail(2).index,inplace=True)

In [14]:
#All good?
NJ2013

,City,Population,Vcrime,Murder,Raperev,Rape,Robbery,Assault,Pcrime,Burglary,Larceny,Theft,Arson,Temp
4,Aberdeen Township,18150.0,19.0,0.0,NaN,0.0,13.0,6.0,237.0,42.0,185.0,10.0,0.0,NaN
5,Absecon,8380.0,21.0,0.0,NaN,2.0,4.0,15.0,266.0,91.0,169.0,6.0,0.0,NaN
6,Allendale,6712.0,0.0,0.0,NaN,0.0,0.0,0.0,37.0,6.0,29.0,2.0,0.0,NaN
7,Allenhurst,493.0,0.0,0.0,NaN,0.0,0.0,0.0,39.0,20.0,18.0,1.0,0.0,NaN
8,Allentown,1812.0,3.0,0.0,NaN,0.0,0.0,3.0,18.0,12.0,6.0,0.0,0.0,NaN
9,Alpha,2314.0,1.0,0.0,NaN,0.0,0.0,1.0,31.0,15.0,15.0,1.0,1.0,NaN
10,Alpine,1958.0,0.0,0.0,NaN,0.0,0.0,0.0,10.0,6.0,2.0,2.0,0.0,NaN
11,Andover Township,6273.0,1.0,0.0,NaN,0.0,0.0,1.0,33.0,10.0,23.0,0.0,0.0,NaN
12,Asbury Park,15779.0,264.0,6.0,NaN,9.0,126.0,123.0,842.0,196.0,616.0,30.0,3.0,NaN
13,Atlantic City,39482.0,685.0,3.0,NaN,9.0,367.0,306.0,2475.0,393.0,2011.0,71.0,2.0,NaN
14,Atlantic Highlands,4352.0,0.0,0.0,NaN,0.0,0.0,0.0,77.0,18.0,58.0,1.0,0.0,NaN
15,Audubon,8788.0,10.0,0.0,NaN,0.0,9.0,1.0,395.0,34.0,359.0,2.0,0.0,NaN
16,Audubon Park,1020.0,0.0,0.0,NaN,0.0,0.0,0.0,31.0,5.0,25.0,1.0,0.0,NaN
17,Avalon,1309.0,2.0,0.0,NaN,0.0,0.0,2.0,227.0,30.0,197.0,0.0,0.0,NaN
18,Avon-by-the-Sea,1916.0,1.0,0.0,NaN,0.0,0.0,1.0,70.0,37.0,33.0,0.0,0.0,NaN
19,Barnegat Light,578.0,2.0,0.0,NaN,1.0,0.0,1.0,6.0,3.0,3.0,0.0,0.0,NaN
20,Barnegat Township,21544.0,17.0,0.0,NaN,2.0,4.0,11.0,201.0,61.0,135.0,5.0,1.0,NaN
21,Barrington,6880.0,3.0,0.0,NaN,2.0,0.0,1.0,72.0,26.0,36.0,10.0,0.0,NaN
22,Bay Head,987.0,0.0,0.0,NaN,0.0,0.0,0.0,36.0,5.0,28.0,3.0,0.0,NaN
23,Bayonne,64950.0,138.0,0.0,NaN,0.0,50.0,88.0,828.0,142.0,599.0,87.0,1.0,NaN
24,Beach Haven,1178.0,0.0,0.0,NaN,0.0,0.0,0.0,117.0,12.0,103.0,2.0,0.0,NaN
25,Beachwood,11110.0,7.0,1.0,NaN,0.0,1.0,5.0,188.0,21.0,164.0,3.0,0.0,NaN
26,Bedminster Township,8213.0,1.0,0.0,NaN,0.0,0.0,1.0,46.0,9.0,33.0,4.0,0.0,NaN
27,Belleville,36229.0,112.0,0.0,NaN,1.0,62.0,49.0,839.0,152.0,523.0,164.0,3.0,NaN
28,Bellmawr,11554.0,16.0,0.0,NaN,0.0,9.0,7.0,244.0,57.0,174.0,13.0,0.0,NaN
29,Belmar,5735.0,8.0,0.0,NaN,3.0,1.0,4.0,249.0,51.0,195.0,3.0,0.0,NaN
30,Belvidere,2619.0,2.0,0.0,NaN,0.0,0.0,2.0,30.0,10.0,19.0,1.0,1.0,NaN
31,Bergenfield,27125.0,16.0,0.0,NaN,0.0,6.0,10.0,105.0,16.0,87.0,2.0,0.0,NaN
32,Berkeley Heights Township,13452.0,1.0,0.0,NaN,0.0,0.0,1.0,89.0,9.0,77.0,3.0,0.0,NaN
33,Berlin,7623.0,14.0,1.0,NaN,0.0,1.0,12.0,151.0,24.0,123.0,4.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453,Westampton Township,8796.0,17.0,0.0,NaN,3.0,8.0,6.0,219.0,33.0,179.0,7.0,1.0,NaN
454,West Amwell Township,3763.0,2.0,0.0,NaN,0.0,0.0,2.0,15.0,6.0,9.0,0.0,0.0,NaN
455,West Caldwell Township,10878.0,6.0,0.0,NaN,0.0,3.0,3.0,99.0,9.0,78.0,12.0,0.0,NaN
456,West Cape May,1022.0,1.0,0.0,NaN,0.0,0.0,1.0,27.0,8.0,18.0,1.0,0.0,NaN
457,West Deptford Township,21497.0,7.0,0.0,NaN,1.0,4.0,2.0,437.0,93.0,318.0,26.0,0.0,NaN
458,Westfield,30770.0,12.0,0.0,NaN,4.0,5.0,3.0,248.0,58.0,181.0,9.0,0.0,NaN
459,West Long Branch,8660.0,8.0,0.0,NaN,0.0,4.0,4.0,193.0,59.0,127.0,7.0,0.0,NaN
460,West Milford Township,26095.0,24.0,0.0,NaN,4.0,3.0,17.0,277.0,98.0,174.0,5.0,1.0,NaN
461,West New York,52102.0,161.0,2.0,NaN,12.0,58.0,89.0,518.0,135.0,344.0,39.0,0.0,NaN
462,West Orange,46794.0,79.0,1.0,NaN,1.0,44.0,33.0,685.0,152.0,481.0,52.0,1.0,NaN
463,Westville,4247.0,11.0,0.0,NaN,0.0,5.0,6.0,187.0,60.0,112.0,15.0,0.0,NaN
464,West Wildwood,589.0,3.0,0.0,NaN,0.0,1.0,2.0,23.0,6.0,17.0,0.0,0.0,NaN
465,West Windsor Township,28557.0,17.0,0.0,NaN,1.0,9.0,7.0,441.0,37.0,390.0,14.0,1.0,NaN
466,Westwood,11056.0,2.0,0.0,NaN,0.0,0.0,2.0,57.0,12.0,44.0,1.0,0.0,NaN
467,Wharton,6593.0,6.0,0.0,NaN,0.0,2.0,4.0,89.0,6.0,83.0,0.0,0.0,NaN
468,Wildwood,5228.0,90.0,0.0,NaN,3.0,30.0,57.0,671.0,147.0,515.0,9.0,0.0,NaN
469,Wildwood Crest,3222.0,6.0,0.0,NaN,0.0,1.0,5.0,168.0,46.0,122.0,0.0,0.0,NaN
470,Willingboro Township,31914.0,119.0,1.0,NaN,13.0,50.0,55.0,688.0,189.0,475.0,24.0,9.0,NaN
471,Winfield Township,1489.0,0.0,0.0,NaN,0.0,0.0,0.0,11.0,5.0,5.0,1.0,0.0,NaN
472,Winslow Township,39212.0,93.0,0.0,NaN,3.0,21.0,69.0,599.0,201.0,376.0,22.0,2.0,NaN
473,Woodbridge Township,100568.0,135.0,1.0,NaN,3.0,66.0,65.0,2042.0,296.0,1622.0,124.0,7.0,NaN
474,Woodbury,10073.0,45.0,1.0,NaN,2.0,20.0,22.0,507.0,109.0,385.0,13.0,0.0,NaN
475,Woodbury Heights,3026.0,3.0,0.0,NaN,0.0,3.0,0.0,92.0,20.0,69.0,3.0,0.0,NaN
476,Woodcliff Lake,5864.0,2.0,0.0,NaN,1.0,1.0,0.0,51.0,8.0,38.0,5.0,0.0,NaN
477,Woodland Park,12636.0,3.0,0.0,NaN,0.0,0.0,3.0,158.0,27.0,124.0,7.0,0.0,NaN
478,Woodlynne,2967.0,15.0,0.0,NaN,0.0,8.0,7.0,66.0,8.0,49.0,9.0,0.0,NaN
479,Wood-Ridge,8632.0,1.0,0.0,NaN,0.0,0.0,1.0,54.0,10.0,42.0,2.0,0.0,NaN
480,Woodstown,3519.0,7.0,0.0,NaN,1.0,2.0,4.0,43.0,9.0,32.0,2.0,1.0,NaN
481,Woolwich Township,11167.0,1.0,0.0,NaN,0.0,0.0,1.0,53.0,17.0,36.0,0.0,0.0,NaN
482,Wyckoff Township,16949.0,0.0,0.0,NaN,0.0,0.0,0.0,79.0,10.0,68.0,1.0,0.0,NaN

In [15]:
#Drop the columns Temp and Raperev has many Nan and temp is not even real column
NJ=NJ2013.drop(['Raperev','Temp'],axis=1)

In [16]:
#Check for any null values
NJ.describe()

,Population,Vcrime,Murder,Rape,Robbery,Assault,Pcrime,Burglary,Larceny,Theft,Arson
count,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000
mean,17556.910230,47.407098,0.703549,1.607516,23.077244,22.018789,323.008351,69.338205,226.638831,27.031315,1.083507
std,25179.212668,213.254026,5.619360,4.290744,131.534269,79.018890,643.365923,155.785117,380.687208,152.196186,3.137924
min,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4807.500000,2.000000,0.000000,0.000000,0.000000,1.000000,49.000000,10.000000,36.000000,1.000000,0.000000
50%,9613.000000,7.000000,0.000000,0.000000,2.000000,4.000000,134.000000,26.000000,100.000000,4.000000,0.000000
75%,21432.500000,21.000000,0.000000,1.000000,9.000000,12.000000,335.000000,60.000000,244.500000,13.500000,1.000000
max,278246.000000,3516.000000,112.000000,45.000000,2433.000000,926.000000,8965.000000,2074.000000,3997.000000,2894.000000,34.000000

In [17]:
#Max is 2too much for population, lets take 75%
NJ = NJ[NJ.Population < (np.percentile(NJ.Population, 75))]

In [18]:
#Take the median for property crime which will be target
print(np.median(NJ.Pcrime))

85.0

In [19]:
#Convert Property crime to categorical feature
NJ['Pcrime_cat'] = np.where(NJ.Pcrime >= 85,1,0)

In [20]:
y = NJ.Pcrime_cat.values.reshape(-1, 1)
X = NJ.loc[:, ~(NJ.columns).isin(['City','Pcrime','Pcrime_cat'])]

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

## Lasso Regression

In [22]:
# Declare and fit the model
# Set regularization parameter
# turn down tolerance for short training time
clf_l1_LR = LogisticRegression(C=0.05, penalty='l1')

clf_l1_LR.fit(X_train, y_train)

print("Coefficient: ", clf_l1_LR.coef_)
print("Intercept:",clf_l1_LR.intercept_)
print("Train score with L1 penalty: %.4f" % clf_l1_LR.score(X_train, y_train))
print("Test score with L1 penalty: %.4f" % clf_l1_LR.score(X_test, y_test))
print("Cross Validation Scores: ",cross_val_score(clf_l1_LR, X_train, y_train, cv=10))
print("Cross Validation mean: ",cross_val_score(clf_l1_LR, X_train, y_train, cv=10).mean())

Coefficient:  [[-0.00010437  0.          0.          0.          0.          0.
   0.01775952  0.03998706  0.02910591  0.        ]]
Intercept: [-1.83079831]
Train score with L1 penalty: 0.9402
Test score with L1 penalty: 0.9259
Cross Validation Scores:  [0.84615385 0.96153846 0.96153846 0.92307692 0.88461538 0.88
 0.875      0.95833333 0.91666667 0.95833333]
Cross Validation mean:  0.9123589743589744

c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## Ridge Regression

In [23]:
# Declare and fit the model
# Set regularization parameter
# turn down tolerance for short training time
clf_l2_LR = LogisticRegression(C=0.05, penalty='l2')

clf_l2_LR.fit(X_train, y_train)

print("Coefficient: ", clf_l2_LR.coef_)
print("Intercept:",clf_l2_LR.intercept_)
print("Train score with L2 penalty: %.4f" % clf_l2_LR.score(X_train, y_train))
print("Test score with L2 penalty: %.4f" % clf_l2_LR.score(X_test, y_test))
print("Cross Validation Scores: ",cross_val_score(clf_l2_LR, X_train, y_train, cv=10))
print("Cross Validation mean: ",cross_val_score(clf_l2_LR, X_train, y_train, cv=10).mean())

c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Coefficient:  [[-0.00013725  0.01405026 -0.00696623 -0.03252093  0.07862523 -0.0250878
   0.01249791  0.03403386  0.06995623 -0.13536248]]
Intercept: [-1.21931884]
Train score with L2 penalty: 0.9044
Test score with L2 penalty: 0.8704
Cross Validation Scores:  [0.84615385 0.96153846 0.92307692 0.69230769 0.84615385 0.8
 0.83333333 0.91666667 0.875      0.91666667]
Cross Validation mean:  0.8610897435897436

c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## Vanilla Regression

In [24]:
# Declare and fit the model
# Set regularization parameter
# turn down tolerance for short training time
clf_LR = LogisticRegression(C=0.05)

clf_LR.fit(X_train, y_train)


print("Coefficient: ", clf_LR.coef_)
print("Intercept:",clf_LR.intercept_)
print("Train score with no penalty: %.4f" % clf_LR.score(X_train, y_train))
print("Test score with no penalty: %.4f" % clf_LR.score(X_test, y_test))
print("Cross Validation Scores: ",cross_val_score(clf_LR, X_train, y_train, cv=10))
print("Cross Validation mean: ",cross_val_score(clf_LR, X_train, y_train, cv=10).mean())

c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Coefficient:  [[-0.00013725  0.01405026 -0.00696623 -0.03252093  0.07862523 -0.0250878
   0.01249791  0.03403386  0.06995623 -0.13536248]]
Intercept: [-1.21931884]
Train score with no penalty: 0.9044
Test score with no penalty: 0.8704

c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Cross Validation Scores:  [0.84615385 0.96153846 0.92307692 0.69230769 0.84615385 0.8
 0.83333333 0.91666667 0.875      0.91666667]
Cross Validation mean:  0.8610897435897436

c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\bharath\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:752: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## Conclusion:

I would definitely choose the Lasso regresssion method as the score is realistic, even in terms of cross validation the range is acceptable.